{% extends "layout.html" %}
{% block content %}
    <h2 style="padding-top: 40px">Enter Name Below To Add Name To Session Data</h2>

    <div style="margin-top: 150px">
        <form action="#" method="post">

            <p style="color: #5A2E93; font-size: 20px">Enter Name: 
             <input type="text" style="height: 40px; width: 200" name="nm" required/> &nbsp &nbsp  
             <input class="button" type="submit" style="height: 60px"value="Create Session Variable"/>
            </p>

        </form>   
    </div>
{% endblock content %}
